In [1]:
import numpy as np # linear algebra
import pandas as pd

In [2]:
df = pd.read_csv("newfood.csv")

In [3]:
df.head()

,UserId,Name,Email_id,State,City,Frequency_of_Visit,Age,Preferred_Meal,Preferred_Category_Veg_Non_Veg,Breakfast,Breakfast_rating,Lunch,Lunch_rating,Dinner,Dinner_rating
0,0,Raj Sunil,rajsunil.kandregula@gmail.com,Telangana,Hyderabad,Monthly,25-30,"Breakfast, Lunch",Non-Vegeterian,"Mysore Bonda, Poha, Hotdog Sandwich",4,"Paneer Amritsari Tikka, Butter Garlic Prawns, ...",4,"Baby Corn, Chilli Mushroom, Paneer 65, Mutton ...",5
1,1,Pragya,03.pragya.mishra@gmail.com,UP,Noida,Fortnight,18-25,"Breakfast, Lunch",Non-Vegeterian,"Vada, Dosa, Chole Bhature, Paneer Paratha, Waf...",4,"Hara Bara Kabab, Chicken Roast, Veg Manchurian...",4,"Baby Corn, Chilli Mushroom, Paneer 65, Mutton ...",5
2,2,Ripan Debnath,debnathripan5@gmail.com,Telangana,HYDERABAD,Monthly,25-30,"Breakfast, Lunch",Non-Vegeterian,"Vada, Dosa, Pongal, Parotta, Chole Bhature, Al...",3,"Veg Cutlet, Veg Pakora, Veg lollipop, Seekh Ka...",4,"Baby Corn, Chilli Mushroom, Paneer 65, Mutton ...",5
3,3,Nisha,nisha.prf@gmail.com,TamilNadu,Chennai,Quarterly,25-30,"Breakfast, Lunch",Non-Vegeterian,Pongal,3,"Paneer Tikka, Chicken Tandoori, Matar Pulao",4,"Baby Corn, Chilli Mushroom, Paneer 65, Mutton ...",5
4,4,Demudu Babu M,NaN,Telangana,Hyderabad,Frequently,30-40,"Breakfast, Lunch",Non-Vegeterian,"Idly, Dosa, Pesarattu-Upma, Parotta, Chole Bha...",4,"Veg lollipop, Paneer Tikka, Haryali Paneer Tik...",4,"Baby Corn, Chilli Mushroom, Paneer 65, Mutton ...",5

In [4]:
df = df[['UserId', 'Preferred_Category_Veg_Non_Veg', 'Lunch']]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 3 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   UserId                          174 non-null    int64
 1   Preferred_Category_Veg_Non_Veg  174 non-null    object
 2   Lunch                           174 non-null    object
dtypes: int64(1), object(2)
memory usage: 4.2+ KB

In [5]:
df. to_csv("Lunch_food.csv", encoding = "utf-8")

In [7]:
import os
os. getcwd()

'C:\\Users\\debna'

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [8]:
vector = cv.fit_transform(df['Lunch']).toarray()

In [9]:
vector.shape

(174, 273)

In [10]:
from sklearn.metrics.pairwise import cosine_similarity

In [11]:
similarity = cosine_similarity(vector)

In [12]:
similarity

array([[1.        , 0.13793103, 0.38255148, ..., 0.24313227, 0.11744404,
        0.18569534],
       [0.13793103, 1.        , 0.56396765, ..., 0.28365431, 0.11744404,
        0.37139068],
       [0.38255148, 0.56396765, 1.        , ..., 0.26880386, 0.1208898 ,
        0.25485808],
       ...,
       [0.24313227, 0.28365431, 0.26880386, ..., 1.        , 0.34503278,
        0.43643578],
       [0.11744404, 0.11744404, 0.1208898 , ..., 0.34503278, 1.        ,
        0.39528471],
       [0.18569534, 0.37139068, 0.25485808, ..., 0.43643578, 0.39528471,
        1.        ]])

In [13]:
df[df['Lunch'] == 'Paneer Tikka, Chicken Tandoori, Matar Pulao'].index[0]

3

In [14]:
def recommend(food):
    food_index = df[df['Lunch'] == food].index[0]
    distances = similarity[food_index]
    foods_list = sorted(list(enumerate(distances)),reverse=True,key = lambda x: x[1])[1:6]
    for i in foods_list:
        print(df.iloc[i[0]].Lunch)

In [15]:
recommend('Haryali Paneer Tikka, Kadaai Paneer, Dal Tadka, Veg biryani, Butter Naan, Kesariya Kheer')

Paneer Tikka, Veg Platter, Crispy Corn, Chilli Paneer, Kadaai Paneer, Dal Tadka, Mix Veg Curry, Jeera Rice, Plain Naan, Butter Naan
Veg Cutlet, Veg lollipop, Paneer Tikka, Paneer Achari, Paneer Multani Tikka, Paneer Amritsari Tikka, Veg Platter, Chilli Potatoes, Veg Spring Rolls, Veg Manchurian, Crispy Corn, Baby Corn, Chilli Paneer, Paneer  Tikka, Paneer 65, Paneer Butter Masala, Kadaai Paneer, Paneer Tikka Masala, Dal Tadka, Farm Fresh Pizza, Corn Cheese Pizza, Jeera Rice, Matar Pulao, Paneer Pulao, Veg Pulao, Veg biryani, Veg Dum Biryani, Butter Naan, Garlic Naan, Lacha Paratha, Ice-cream, Lassi
Hara Bara Kabab, Paneer Tikka, Paneer Achari, Mushroom Masala, Paneer Butter Masala, Kadaai Paneer, Paneer Tikka Masala, Dal Tadka, Avial with Kerala Red Rice, Veg biryani, Chicken Dum Biryani, Gulab Jamun, Kesariya Kheer, Chocolate Brownie, Carrot Halwa, Chocolate Milkshake
Veg Cutlet, Veg lollipop, Paneer Multani Tikka, Chilli Potatoes, Veg Spring Rolls, Chilli Paneer, Kadaai Paneer, Paneer Tikka Masala, Plain Dosa, Dal Tadka, Jeera Rice, Matar Pulao, Butter Naan, Garlic Naan, Carrot Halwa, Vanilla Milkshake
Haryali Paneer Tikka, Veg Spring Rolls, Gobi Manchurian, Chilli Paneer, Paneer  Tikka, Paneer Tikka Masala, Dal Tadka, Jeera Rice

In [16]:
import pickle

In [17]:
pickle.dump(df,open('food_list1.pkl','wb'))
pickle.dump(similarity,open('food_similarity1.pkl','wb'))